@charset "UTF-8";

:root{
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;

    --cor01: rgb(0, 0, 0);
    --cor02: #00000056;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


header{
    background-color: var(--cor01);
    color: white;
    text-align: center;
    
}
header  a{
    color: white;
    font-weight: bold;
}
header > h1{
    font-weight: normal;
    padding-top:45px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}
header > p{
    padding-bottom: 45px;
    font-size: 1.5vw;
}


section{
    font-family: var(--fonte2);
    font-size: 3vw;
    padding-top: 60px;
    padding-left: 45px;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: left center;
}
section.mimg{
    box-shadow: inset 1px -1px 5px 1px black;
    background-size: cover;
    background-attachment: fixed;
}
section.mimg > p{
    color: white;
    display: inline-block;
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.411);
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: left center;
}
section#img02 > p{
    text-shadow: 1px 2px #000000;
}
footer{
    background-color: black;
    color: white;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2vw;
}
footer a{
    color: white;
    font-weight: bolder;
    
}

footer a:after{
    content: '\00A0\1F517';
}
